<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <title>Admin page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="main.js" defer></script>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <div class="navbar-text font-weight-bold mr-1" th:text="${dto.getEmail()}">USERNAME</div>
        <div class="navbar-text mr-1">with roles:</div>
        <div class="navbar-text mr-1" th:text="${dto.getRoles()}"> ROLES</div>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<!--Main container-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 mt-2" role="tablist">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <!--  Toggleable Tabs      -->
        <div class="col-sm-9 bg-light text-dark">
            <div class="tab-content">
                <h1>Admin panel</h1>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#userstable">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>
                <hr class="d-sm-none">

                <!-- Tab panes -->
                <div role="tabpanel" id="userstable" class="tab-pane active"><br>
                    <div class="card">
                        <h4 class="card-header text-left font-weight-bold text-uppercase py-4">All Users</h4>
                        <div class="card-body">
                            <div th:switch="${users}">
                                <h2 th:case="null">Users table is clear!</h2>
                                <div th:case="*">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thread>
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Roles</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="delete">Delete</th>
                                                </tr>
                                            </thread>
                                            <tbody>
                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.id}"></td>
                                                <td th:text="${user.name}"></td>
                                                <td th:text="${user.age}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.getRoles()}"></td>

                                                <!-- MODAL EDIT -->

                                                <td>
                                                    <a role="button" id="editBtn" class="btn btn-info" data-toggle="modal" data-target="#editUser">Edit</a>
                                                </td>

                                                <!--MODAL DELETE-->
<!--                                                <td>-->
<!--                                                    <form th:action="@{user_delete(id=${user.id})}" th:method="post">-->
<!--                                                        <button type="submit" class="btn btn-danger">Delete</button>-->
<!--                                                    </form>-->
<!--                                                </td>-->
                                                <td>
                                                    <a role="button" id="deleteBtn" class="btn btn-danger" data-toggle="modal" onclick="deleteUser()" data-target="#deleteUser">Delete</a>
                                                </td>
                                                <!--  MODALS  -->


                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="newUser" class="tab-pane"><br>
                    <div class="card">
                        <h4 class="card-header text-left font-weight-bold text-uppercase py-4">Add new user</h4>
                        <div class="card-body">
                            <p>
                            <form th:action="@{create}" method="post">
                                <div th:object="${newUser}">
                                    <p>
                                        <label for="addName">Name</label>
                                        <input type="text" th:field="*{name}" id="addName" placeholder="Name">
                                    </p>
                                    <p>
                                        <label for="addAge">Age</label>
                                        <input type="number" th:field="*{age}" id="addAge" placeholder=2>
                                    </p>
                                    <p>
                                        <label for="addEmail">Email</label>
                                        <input type="text" th:field="*{email}" id="addEmail" placeholder="Email">
                                    </p>
                                    <p>
                                        <label for="addPassword">Password</label>
                                        <input type="text" th:field="*{password}" id="addPassword" placeholder="password">
                                    </p>
                                </div>
                                <p>
                                <div>
                                    <label for="addRoles">Select role:</label>
                                    <select multiple size="2" name="roles" class="form-control" id="addRoles">
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="USER">USER</option>
<!--                                        <option th:each="role : ${rolesArray}" th:text="${role}"></option>-->
                                    </select>
                                </div>
                                </p>
                                <p>
                                    <input type="submit" class="btn btn-success" onclick="createUser()" value="Add new user">
                                </p>
                            </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                   <!-- Modal body    -->
    <!-- The Modal EDIT -->
    <div class="modal fade" id="editUser">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">User edit ---</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- The Modal DELETE -->
    <div class="modal fade" id="deleteUser">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">User delete</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="container">
                            <form th:method="POST" th:action="@{update}" th:object="${deletedUser}" id="del">

                                <p>
                                    <label for="idUserDelete">Id:</label>
                                    <input type="text" name="id" class="form-control" th:field="*{id}" placeholder="Id" id="idUserDelete" required="" disabled=""/>
                                </p>
                                <p>
                                    <label for="usernameDelete">Name:</label>
                                    <input type="text" name="name" class="form-control" th:field="*{name}" placeholder="name" id="usernameDelete"
                                           required="" disabled=""/>
                                </p>
                                <p>
                                    <label for="ageDelete">Age:</label>
                                    <input type="text" name="age" class="form-control" th:field="*{age}" placeholder="age" id="ageDelete"
                                           required="" disabled=""/>
                                </p>
                                <p>
                                    <label for="emailDelete">Email:</label>
                                    <input type="text" name="email" class="form-control" th:field="*{email}" placeholder="email" id="emailDelete"
                                           required="" disabled=""/>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit" form="del" id="deleteButton" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" onclick="oneMore()" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function oneMore() {
        // alert("function running")
        let l = document.getElementById('test').value
        alert(document.getElementById('usernameDelete').value)
    }
</script>
<script>
    function createUser() {
        let rolesArray = []
        let select = document.getElementById('addRoles')
        for(let i = 0, len = select.options.length; i < len; i++) {
            if(select.options[i].value) {
                rolesArray.push(select.options[i].value)
            }
        }

        let userDto = {
            "name": document.getElementById('addName').value,
            "age": document.getElementById('addAge').value,
            "email": document.getElementById('addEmail').value,
            "password": document.getElementById('addPassword').value,
            "roles": rolesArray
        }
        let jsonUserDto = JSON.stringify(userDto)
        alert(jsonUserDto)
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</script>
</body>
</html>