<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User edit</title>
    <style>
        body {
            background-color: #2F4F4F;
            margin-top: 0px;
            margin-left: 0px;
        }
    </style>
</head>
<body>
<div>
    <form action="#" th:action="@{/user_update}" th:object="${user}" method="post">
        <label for="id">Id</label>
        <input readonly type="number" th:name="userId" th:value="${user.id}" id="id" placeholder="Id"><br/>
        <label for="name">Name</label><br>
        <input type="text" th:field="*{name}" id="name" placeholder="Name"/><br>
        <label for="age">Age</label><br>
        <input type="number" th:field="*{age}" id="age" placeholder="Age"/><br>
        <label for="email">Email</label><br>
        <input type="text" th:field="*{email}" id="email" placeholder="Email"/><br><br>
        <div>
            <tr>
                <th>Roles:</th>
            </tr>
            <tr th:each="role : ${roles}">
                <td th:text="${role.role}"></td>
            </tr>
        </div>
        <div>
            <td>Add role to user</td>
            <td>
                <select th:name="selectedRole">
                    <option value="">Select role</option>
                    <option th:each="role : ${allRoles}"
                            th:text="${role.role}"/>
                </select>
            </td>
        </div>
        <input type="submit" value="Edit User">
    </form>
</div>
</body>
</html>